.container {
  width: 600px;
  margin: 20px auto;
}

ul li {
  margin: 10px;
  display: flex;
  align-items: center;
}

li {
  align-items: center;
}

li label {
  width: 150px;
  font-style: bold;
  line-height: 20px;
}

fieldset {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.buttons {
  margin: 20px auto;
}

.buttons input {
  width: 80px;
  height: 30px;
  font-size: 15px;
}